<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pet owners</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="ua.vadym.sfgpetclinic.model.Owner"*/-->

    <h2 th:text="'List of Pet owners'">List of Pet owners.</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 200px;">First name</th>
            <th style="width: 200px;">Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">id</td>
            <td th:text="${owner.firstName}">First Name</td>
            <td th:text="${owner.lastName}">Last Name</td>
        </tr>
        </tbody>
    </table>
</body>
</html>