<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet owners</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="ua.vadym.sfgpetclinic.model.Owner"*/-->

    <h1 th:text="'List of Pet owners'">List of Pet owners.</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">id</td>
            <td th:text="${owner.firstName}">First Name</td>
            <td th:text="${owner.lastName}">Last Name</td>
        </tr>
        </tbody>
    </table>
</body>
</html>